[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python-headless = "==4.6.0.66"
pyyaml = "==6.0"
colorlog = "==6.6.0"
openpylivox-pkg = {ref = "icebreaker", git = "https://github.com/approximatenumber/OpenPyLivox.git"}
pandas = "==1.3.5"
matplotlib = "==3.5.3"
seaborn = "==0.12.0"
click = "==8.1.3"
pillow = "==9.2.0"

[requires]
python_version = "3.7"

[dev-packages]
pdoc3 = "*"
